:root {
    --primary: #4a6fa5;
    --secondary: #166088;
    --accent: #4fc1e9;
    --light: #f5f7fa;
    --dark: #333;
    --sucess: #48cfad;
    --warning: #ffce54;
    --danger: #ed5565;
    --mean: #4FC1E9;
    --median: #48CFAD;
    --mode: #AC92EC;
    --range: #FFCE54;
    --interquartile: #F8B8D2;
    --variance: #ED5565;
    --stddev: #5D9CEC;
    --minimum: #FC6E51;
    --maximum: #A0D468;
}

/* Global styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--light);
    color: var(--dark);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header starts here */

.container {
    position: relative;
    background: linear-gradient(135deg, var(--primary), var(--secondary));
}

header {
    color: var(--light);
    padding: 2rem 0;
    text-align: center;
    box-shadow: 0 8px 6px rgba(0, 0, 0, 0.1);
}

.math-icon {
    position: absolute;
    overflow: hidden;
    opacity: 0.1;
    color: var(--light);
    font-size: 2rem;
    z-index: 0;
    animation: float 7.5s infinite ease-in-out;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

h1 {
    font-size: 3.5rem;
    margin-bottom: 0.5rem;
    letter-spacing: 2px;
}

h3 {
    opacity: 0.8;
    width: 80%;
    margin: 0 auto;
}

/* Main starts here */

main {
    max-width: 900px;
    width: 100%;
    margin: 2rem auto;
    padding: 0 1rem;
    flex: 1;
}

form {
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 2rem;
}

.input-group {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: 600;
    margin-bottom: 0.5rem;
    font-size: 2rem;
    color: var(--dark);
}

textarea {
    width: 100%;
    height: 150px;
    border-radius: 0.5rem;
    resize: vertical;
    border: 2px solid #e0e0e0;
    padding: 1rem;
    font-size: 1rem;
    color: var(--dark);
    background-color: var(--light);
    transition: border-color 0.3s ease;
}

textarea:focus {
    outline: none;
    border-color: var(--accent);
}

.instruction {
    opacity: 0.85;
    margin: 0.5rem 0;
}

/* Buttons start here */

#sample-buttons {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

#sample-buttons * {
    background-color: var(--accent);
    color: var(--light);
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    transition: background-color 0.3s ease;
    margin: 0.5rem 0;
    font-size: 1rem;
}

#sample-buttons *:hover {
    background-color: var(--secondary);
    cursor: pointer;
}

#main-buttons {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

#main-buttons * {
    flex: 1;
    font-size: 1.25rem;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-weight: bold;
    transition: all 0.3s ease;
    padding: 0.5rem 0;
}

#main-buttons *:hover {
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#calculate {
    background-color: var(--primary);
    color: var(--light);
}

#calculate:hover {
    background-color: var(--secondary);
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

hr {
    margin: 2rem 0;
    border: none;
    border-top: 1px solid #e0e0e0;
}

/* Results start here */

#results {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.5rem;
}

.box {
    background-color: white;
    border-radius: 0.5rem;
    padding: 1.5rem;
    transition: all 0.3s ease;
    border-left: 4px solid var(--primary);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.box:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.box h2 {
    font-size: 1.25rem;
}

.info-icon {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-color: #ccc;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 18px;
    font-size: 12px;
    margin-left: 5px;
    cursor: help;
    position: relative;
}

.info-icon:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--dark);
    color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 0.8rem;
    z-index: 10;
    line-height: 1.4;
    font-weight: normal;
    width: 200px;
    letter-spacing: 1.5px;
}

/* Footer starts here */

footer {
    background-color: var(--dark);
    color: var(--light);
    text-align: center;
    padding: 1.5rem 0;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
}

footer a {
    color: var(--light);
}

/* Media queries */

@media (max-width: 768px) {
    h1 {
        font-size: 2.5rem;
        letter-spacing: 1px;
    }
    .description {
        overflow: none;
    }
    #sample-buttons, #main-buttons {
        flex-direction: column;
        gap: 1rem;
    }
    #sample-buttons {
        gap: 0;
    }
    footer {
        font-size: 1rem;
    }
}

